@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");

.content {
  font-family: "Droid Sans Mono", monospace;
  height: 60px;
  display: inline-block;
  margin-left: 50px;
}

.flip {
  position: relative;
  height: 60px;
  width: 45px;
}

.up,
.down {
  text-align: center;
  height: 30px;
  overflow: hidden;
}

.up > div,
.down > div {
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  align-self: center;
}

.down > div > div {
  margin-top: -30px;
}

.flip-card {
  perspective: 300px;
  position: relative;
  height: 30px;
  width: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  -ms-transform-origin: 50% 100%; /* IE 9 */
  transform-origin: 50% 100%; /* IE 9 */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card-front, .up {
  background-color: #bbb;
  color: black;
}

.flip-card-back, .down {
  background-color: #626567;
  color: black;
}

.flip-card-back {
  transform: rotateX(180deg);
}


.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.counter {
  position: relative;
  left: -22px;
  width: auto;
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  width: 495px;
  margin: 0 auto;
}

:host {
  height: 100%;
}
